body{
    padding: 0;
    margin: 0;
    font-size: 1em;
}

.assTitle{
    text-align: center;

}

.controls{
    margin-top: 25px;
    width: 320px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.div-btn-move{
    width: 275px;
}

.empty-li-button{
    width: 49px;
    height: 26px;
}

.cell-li-button,.empty-li-button{

display: inline-block;
}

.liRow{
    display: inline-block;
    padding: 25px;
}
.div-canvas{
    width: 754px;
    height: 506px;
    overflow: hidden;
    border: 1px black solid;
    position: relative;
}
.default-size{
    width: 200px;
    height: 100px;
}

.div-elems{
    margin: 0px;
    padding: 0px;
    position: absolute;
    display:block;
    border-width: 1px;
    border-style: solid;
}

.div1-class{
    top:0px;
    left:0px;
    z-index: 10;
    border-color: black;
    background-color: transparent;
}
.div2-class{
    top:115px;
    left:0px;
    z-index: 5;
    border-color: black;
    background-color: transparent;
}

.div3-class{
    top:0;
    left:215px;
    z-index: 5;
    border-color: black;
    background-color: transparent;
}

.upDown-Animation{
    animation-name: updownAn;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes updownAn {
    0% {top:0}
    50% {top:200px}
    100%{top:0}
}

.leftRight-Animation{
    animation-name: leftrightAn;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes leftrightAn {
    0% {left:0}
    50% {left:400px;}
    100%{left:0}
}

.stop-Animation{
    animation-play-state: paused;
}

div{
    transition-property: width,height;
    transition-duration: 5s;
}

.growW{
    width:300px;
}

.growH{
    height: 330px;
}


