
body{
    font-size: 1em;
}

#part1{

}

.countriesSel{
    display: block;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.li-row{
    display: inline-block;
    padding-bottom: 50px;
}

.countryDis{
    width: 500px;
    margin-top: 70px;
}

#selCoun,#popHead{
    text-align: center;
    font-size: 5em;
}

a{
    cursor: pointer;
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#countryBack{
    cursor: pointer;
    width: 315px;
    height: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 25px;
}

img{
    width: 245px;
    height: 170px;
    display: block;
    border: 2.5px black solid;
    margin-bottom: 30px;
}

span{
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    padding: 50px;
    padding-bottom: 0;
}


.citiesDis{
    display: none;
}

.popTable{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.popTable th,td{
    border: 1px black solid;
    font-size: 2em;
    text-align: center;

}




#part2{
    margin-top: 90px;
    padding-bottom: 90px;

}

#jsonbtn{
    height: 41px;
    width: 90px;
}

#jsontxt{
    height: 33px;
    width: 149px;

}

#part2 h1{
    text-align: center;
    font-size: 3em;
}

#inputJson{
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}

.jsonDis{
    display: none;
}

.jsonTable{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.jsonTable th,td{
    border: 1px black solid;
    font-size: 2em;
    text-align: center;

}

