
body{
    padding: 0;
    margin: 0;
    font-size: 1em;
}
.assTitle{
    text-align: center;

}
.controls{
    margin-top: 25px;
    width: 320px;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.div-btn-move{
    width: 275px;
}
.empty-li-button{
    width: 49px;
    height: 26px;
}
.cell-li-button,.empty-li-button{

display: inline-block;
}
.liRow{
    display: inline-block;
    padding: 25px;
}
.div-canvas{
    width: 1000px;
    height: 550px;
    overflow: hidden;
    border: 1px black solid;
    position: relative;
}
.default-size{
    width: 200px;
    height: 100px;
}

#div1,#div2,#div3,#div4{
    margin: 0px;
    padding: 0px;
    position: absolute;
    display:block;
    border-width: 1px;
    border-style: solid;
    font-size: 1.5em;
}

.div1-class{
    top:0px;
    left:35px;
    z-index: 10;
    border-color: black;
    background-color: transparent;
    transition: width 5s;
}
.div2-class{
    top:115px;
    left:35px;
    z-index: 5;
    border-color: black;
    background-color: transparent;
    transition: height 5s;
}
.div3-class{
    top:0px;
    left:260px;
    z-index: 10;
    border-color: black;
    background-color: transparent;
    transition: background-color 5s;
}
.div4-class{
    top:115px;
    left:260px;
    z-index: 5;
    border-color: black;
    background-color: transparent;
    transition: top 5s;
}

#div1:hover{
    width: 300px;
    background-color: orange;
}

#div2:hover{
    height: 200px;
    background-color: yellow;
}

#div3:hover{
    background-color: silver;
}

#div4:hover{
    top: 300px;
    background-color: blue;
}
