
body{
    padding: 0;
    margin: 0;
    font-size: 1em;
}
.assTitle{
    text-align: center;

}
.controls{
    margin-top: 25px;
    width: 320px;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.div-btn-move{
    width: 275px;
}
.empty-li-button{
    width: 49px;
    height: 26px;
}
.cell-li-button,.empty-li-button{

display: inline-block;
}
.liRow{
    display: inline-block;
    padding: 25px;
}
.div-canvas{
    width: 1000px;
    height: 550px;
    overflow: hidden;
    border: 1px black solid;
    position: relative;
}
.default-size{
    width: 200px;
    height: 100px;
}

#div1,#div2,#div3,#div4{
    margin: 0px;
    padding: 0px;
    position: absolute;
    display:block;
    border-width: 1px;
    border-style: solid;
    font-size: 1.5em;
}

.div1-class{
    top:0px;
    left:35px;
    z-index: 10;
    border-color: black;
    background-color: transparent;
}
.div2-class{
    top:115px;
    left:35px;
    z-index: 5;
    border-color: black;
    background-color: transparent;
}
.div3-class{
    top:0px;
    left:260px;
    z-index: 10;
    border-color: black;
    background-color: transparent;
}
.div4-class{
    top:115px;
    left:260px;
    z-index: 5;
    border-color: black;
    background-color: transparent;
}

@keyframes widthExample{
    0%{width: 200px;}
    50%{width: 300px;}
    100%{width: 200px;}
}

@keyframes heightExample{
    0%{height: 100px;}
    50%{height: 200px;}
    100%{height: 100px;}
}

@keyframes topExample{
    0%{top:115px;}
    50%{top:300px;}
    100%{top:115px;}
}

@keyframes colorExample{
    from{background-color: transparent;}
    50%{background-color: green;}
    to{background-color: silver;}
}

#div1:hover{
    animation-name: widthExample;
    animation-duration: 5s;
    background-color: orange;
}

#div2:hover{
    animation-name: heightExample;
    animation-duration: 5s;
    background-color: yellow;
}

#div3:hover{
    animation-name: colorExample;
    animation-duration: 5s;
    background-color: silver;
}

#div4:hover{
    animation-name: topExample;
    animation-duration: 5s;
    background-color: blue;
}
